.navbar {
  background-color: #202938;
}

.navbar-brand,
.nav-link {
  color: #fff;
  font-weight: bold;
}

.navbarr,
.navbar-brand:hover {
  color: #e5e5e5;
}

.navbarr,
.navbar-brand:visited {
  color: #e5e5e5;
}

.navbar,
.navbar-brand,
.navbar-nav,
.nav-link:hover {
  color: #e5e5e5;
}
